<h1>Choose your weapon:</h1>
<form action="/decision" method="post">
<input type="hidden" name="weapon" value="rock">
<input type="image"  src="/images/rock.jpg">
</form>

<form action="/decision" method="post">
<input type="hidden" name="weapon" value="paper">
<input type="image" src="/images/paper.jpg">
</form>

<form action="/decision" method="post">
<input type="hidden" name="weapon" value="scissors">
<input type="image" src="/images/scissors.jpg">
</form>
