<h1>Choose your weapon:</h1>
<!-- <a href ="/winner"><img src="/images/rock.jpg"></a>
<a href ="/winner"><img src="/images/paper.jpg"></a>
<a href ="/winner"><img src="/images/scissors.jpg"></a> -->
<form action="/winner" method="post">
<input type="hidden" name="weapon" value="rock">
<input type="image"  src="/images/rock.jpg">
</form>

<form action="/winner" method="post">
<input type="hidden" name="weapon" value="paper">
<input type="image" src="/images/paper.jpg">
</form>

<form action="/winner" method="post">
<input type="hidden" name="weapon" value="scissors">
<input type="image" src="/images/scissors.jpg">
</form>
