<% if DECISION == "draw" %>
  <h1> DRAW </h1>
<% elsif DECISION == WEAPON1 %>
  <% if PLAYERS[0] == session["session_id"] %>
    <h1>You Won!</h1>
  <% else %> 
    <h1>You loose!</h1>
  <% end %>
<% else %>
  <% if PLAYERS[0] == session["session_id"] %>
    <h1>You loose!</h1>
  <% else %> 
    <h1>You Won!</h1>
  <% end %>
<% end %>


